<app-header></app-header>
<div class="border-2 border-red-700 max-w-screen-xl mx-auto mt-10 grid">
    <div class="border-2 border-black h-96">camilo</div>
    <div class="border-2 border-black h-96">camilo</div>
    <div class="border-2 border-black h-96">camilo</div>
    <div class="border-2 border-black h-96">camilo</div>
    <div class="border-2 border-black h-96">camilo</div>
    <div class="border-2 border-black h-96">camilo</div>
    <div class="border-2 border-black h-96">camilo</div>
</div>
<router-outlet></router-outlet>
