<app-loader [show]="showLoader"></app-loader>
<app-header [cartItems]="cartItems.length" (showCartEvent)="showCartEvent($event)"></app-header>
<app-cart [show]="showCart" [products]="cartItems" (closeCartEvent)="showCartEvent($event)"></app-cart>
<div
  class="max-w-screen-xl mx-auto mt-5 :mt-10 flex flex-row flex-wrap md:gap-8 justify-center"
>
  @for (product of products; track product.id) {
  <div
    class="p-5 min-w-44 max-w-44 border border-slate-200 md:border-none md:shadow-2xl min-h-80 max-h-80 bg-white md:rounded-lg flex flex-col justify-between"
  >
    <img
      class="w-20 h-20 self-center"
      [src]="getImagePath(product.imgPath)"
      (error)="handleImageError($event)"
      [alt]="product.name"
    />
    <h5 class="text-center text-xl font-bold">{{ product.name }}</h5>
    <p class="text-sm-fs">{{ product.description }}</p>
    <span class="w-full font-bold text-center text-md">{{
      product.price | currency : "COP"
    }}</span>
    <div class="flex flex-row text-sm justify-between items-center">
      <label for="cantidad">Cantidad: </label>
      <input
        class="border max-w-12 rounded-md p-1 text-sm"
        type="number"
        placeholder="0"
        [(ngModel)]="product.quantity"
        id="cantidad"
        min="1"
        [max]="product.stock"
      />
    </div>
    <span class="text-sm text-center">{{ product.stock }} disponibles</span>
    <button
      (click)="addProductToCart(product)"
      class="p-1 bg-green-800 hover:bg-green-700 text-white rounded-md"
    >
      <fa-icon [icon]="faCartPlus" [size]="'sm'" class="mr-2"></fa-icon>Agregar
    </button>
  </div>
  } @empty {
  <p class="p-4">No existen productos.</p>
  }
</div>
<router-outlet></router-outlet>
