<app-header></app-header>
<div
  class="max-w-screen-xl mx-auto mt-10 flex flex-row flex-wrap md:gap-10 justify-center"
>
  @for (product of products; track product.id) {
  <div
    class="p-5 min-w-44 max-w-44 border border-slate-200 md:border-none md:shadow-2xl min-h-80 max-h-80 bg-white md:rounded-lg flex flex-col justify-between"
  >
    <img class="h-16 max-w-full" src="../../../assets/icons/store.svg" alt="" />
    <h5 class="text-center">{{ product.name }}</h5>
    <p class="text-sm-fs">{{ product.description }}</p>
    <span>Precio: {{ product.price | currency }}</span>
    <span>Stock: {{ product.stock }}</span>
    <input type="number" placeholder="0" [(ngModel)]="product.stock">
    
  </div>
  } @empty {
  <p class="p-4">No existen productos.</p>
  }
</div>
<router-outlet></router-outlet>
