<div class="max-w-screen-sm mx-auto bg-white p-6 md:p-8 rounded-2xl">
  <h2 class="mb-6 text-2xl text-center">{{ userType.name }}</h2>
  <form (ngSubmit)="onSubmit()" class="flex flex-col gap-5">
    <div class="flex flex-col gap-1">
      <label for="email">Email</label>
      <input
        [(ngModel)]="formData.email"
        type="email"
        class="border-2 border-green-800 py-2 px-3 rounded-md focus:outline-none"
        id="email"
        name="email"
        placeholder="Ingrese su email"
        required
        autocomplete="on"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="password">Contraseña</label>
      <input
        [(ngModel)]="formData.password"
        type="password"
        class="border-2 border-green-800 focus:outline-none py-2 px-3 rounded-md"
        id="password"
        name="password"
        placeholder="Ingrese su contraseña"
        required
        autocomplete="on"
      />
    </div>
    <button
      type="submit"
      class="bg-green-800 hover:bg-green-700 py-2 px-3 rounded-md text-white my-4"
    >
      {{ userType.name.includes("Ingreso") ? "Ingresar" : "Registrarse" }}
    </button>
  </form>
  <p class="text-center" href="">
    ¿No tienes cuenta?
    <a class="underline cursor-pointer text-orange-600" (click)="goToRegister()"
      >Regístrate</a
    >
  </p>
</div>
