@if (show) {
<div
  class="fixed top-0 left-0 z-50 w-full h-full flex flex-col items-center justify-center bg-black bg-opacity-80"
>
  <div class="w-50 lg:w-1/4">
    <img
      src="../../../../assets/icons/food-store-logo.svg"
      alt="store-logo"
      class="w-full mx-auto"
    />
  </div>

  <div class="flex flex-row justify-between gap-6 mt-5">
    <div
      class="h-4 w-4 md:h-6 md:w-6 rounded-full bg-orange-600 animate-ping"
    ></div>
    <div
      class="h-4 w-4 md:h-6 md:w-6 rounded-full bg-orange-600 animate-ping"
    ></div>
    <div
      class="h-4 w-4 md:h-6 md:w-6 rounded-full bg-orange-600 animate-ping"
    ></div>
  </div>
</div>
}
